.advantages {
  width: 100%;
}

.advantages__intro {
  position: relative;

  width: 255px;
  margin: 0 auto;

  color: $text-main;
  line-height: 26px;

  &::after {
    content: "";

    position: absolute;
    left: -32px;
    bottom: -43px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 19px 160px 0 160px;
    border-color: $bg-basic transparent transparent transparent;
  }
}

.advantages__list {
  @include list-style;
  width: 320px;
  margin: 0 auto;
  margin-top: 25px;
}

.advantages__item {
  margin: 0;
  padding: 30px;
}

@media (min-width: $tablet-width) {
  .advantages__intro {
    width: 490px;
  }

  .advantages__list {
    width: 100%;
    margin-top: 52px;
  }

  .advantages__wrapper {
    display: flex;
    min-height: 260px;
  }
}
