.advantage {
  padding-top: 26px;

  color: $text-main;
  background-color: $bg-secondary;

  &--main {
    margin: 0;
    padding: 0;
    color: $text-light;
    background-color: $bg-main;
  }
}

.advantage__wrapper {
  width: 265px;
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 10px;

  &--triangle {
    padding-top: 55px;
  }
}

.advantage__title {
  line-height: 26px;
}

.advantage__number {
  position: relative;

  display: inline-block;
  margin-top: 9px;
  margin-bottom: 15px;

  line-height: 21px;

  &::before {
    content: "";

    position: absolute;
    left: -12px;
    bottom: 9px;

    display: block;
    width: 8px;
    height: 1.5px;

    background-color: $text-main;
  }

  &::after {
    content: "";

    position: absolute;
    right: -13px;
    bottom: 9px;

    display: block;
    width: 8px;
    height: 1.5px;

    background-color: $text-main;
  }
}

.advantage--main .advantage__number::before,
.advantage--main .advantage__number::after {
  background-color: $text-light;
}

.advantage__text {
  position: relative;

  width: 258px;
  margin: 0 auto;
  padding-bottom: 30px;

  line-height: 21px;

  &--bordered::after {
    content: "";

    position: absolute;
    left: -12px;
    bottom: 0;

    display: block;
    width: 280px;
    height: 2px;

    background-color: $gray-light;
  }
}

.advantage--main .advantage__text {
  width: 265px;
}

.advantage__text br {
  display: none;
}

.advantage__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advantage__features-list {
  @include list-style;
  padding: 0;
}

.advantage__image {
  vertical-align: bottom;
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .advantage {
    flex-grow: 1;
    padding-top: 43px;

    &--main {
      padding: 0;
    }
  }

  .advantage__main {
    flex-direction: row;

    &--bridge {
      flex-direction: row-reverse;
    }
  }

  .advantage__wrapper {
    width: 256px;
    padding-top: 43px;
    padding-bottom: 0;

    &--triangle {
      padding-top: 45px;
    }
  }

  .advantage__title {
    width: 151px;
    margin: 0 auto;

    font-size: 21px;
    line-height: 26px;
  }

  .advantage__number {
    margin-top: 12px;
  }

  .advantage__text {
    width: 158px;
    margin-top: 6px;
    padding-bottom: 45px;

    &--bordered::after {
      display: none;
    }
  }

  .advantage--main .advantage__text {
    width: 162px;
    padding-bottom: 43px;
  }

  .advantage__text br {
    display: inline;
  }

  .advantage__image {
    width: 512px;
    height: 256px;
  }

  .advantage__features-list {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: $desktop-width) {
  .advantage__image-wrapper {
    width: 800px;
    height: 256px;
    overflow: hidden;
  }

  .advantage__image {
    width: 800px;
    height: 400px;
  }

  .advantage__main--city .advantage__image {
    margin-top: -70px;
  }

  .advantage__main--bridge .advantage__image {
    margin-top: -76px;
  }

  .advantage__wrapper {
    padding-top: 51px;
  }

  .advantage__text {
    width: 285px;
    margin-top: 5px;
    padding-bottom: 66px;
  }

  .advantage__main--city .advantage__text {
    width: 264px;
    margin-left: -4px;
  }

  .advantage__main--bridge .advantage__text {
    width: 234px;
    margin-left: 11px;
  }
}
