.advantage {

  min-height: 108px;

  color: $text-main;
  background-color: $bg-secondary;

  &--main {
    margin: 0;
    padding: 0;
    color: $text-light;
    background-color: $bg-main;
  }
}

.advantage__title {
  line-height: 26px;
}

.advantage__number {
  line-height: 21px;
}

.advantage__text {
  line-height: 21px;

  &--bordered {
    border-bottom: 2px solid $gray-light;
  }
}

.advantage__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--city {
    height: 469px;
  }

  &--bridge {
    height: 451px;
  }
}

.advantage__features-list {
  @include list-style;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .advantage__main {
    flex-direction: row;
    height: 256px;

    &--bridge {
      flex-direction: row-reverse;
    }
  }

  .advantage__title {
    font-size: 21px;
  }

  .advantage__features-list {
    display: flex;
    justify-content: space-around;
  }

  .advantage__text--bordered {
    border-bottom: none;
  }
}
