.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;
  margin: 0 auto;
}

.booking__title {
  margin: 0;
  padding: 0;

  font-size: 21px;
  font-weight: 700;
  color: $text-dark;
  line-height: 26px;
}

.booking__text {
  margin: 0;
  margin-top: 20px;
  padding: 0;

  color: $text-main;
  line-height: 24px;
}

.booking__btn {
  margin-top: 36px;
}

@media (min-width: $tablet-width) {
  .booking__title {
    font-size: 30px;
  }

  .booking__text {
    width: 434px;
  }

  .booking__btn {
    width: 367px;
    margin-top: 55px;
  }
}

@media (min-width: $desktop-width) {
  .booking {
    width: $desktop-width;
    margin: 0 auto;
  }

  .booking__btn {
    margin-top: 65px;
  }
}
