.booking {
  width: 290px;
  margin: 0 auto;
}

.booking__title {
  margin: 0;
  padding: 0;

  font-size: 21px;
  font-weight: 700;
  color: $text-dark;
  line-height: 26px;
}

.booking__text {
  margin: 0;
  margin-top: 20px;
  padding: 0;

  color: $text-main;
  line-height: 21px;
}

.booking__btn {
  margin-top: 41px;
}
