.booking {
  width: 290px;
  margin: 0 auto;
}

.booking__title {
  margin: 0;
  padding: 0;

  font-size: 21px;
  font-weight: 700;
  color: $text-dark;
  line-height: 26px;
}

.booking__text {
  margin: 0;
  margin-top: 19px;
  padding: 0;

  color: $text-main;
  line-height: 24px;
}

.booking__text br {
  display: none;
}

.booking__btn {
  margin-top: 35px;
}

@media (min-width: $tablet-width) {
  .booking__title {
    font-size: 30px;
  }

  .booking__text {
    width: 438px;
    margin-top: 31px;
  }

  .booking__text br {
    display: inline;
  }

  .booking__btn {
    width: 363px;
    margin-top: 42px;
  }
}

@media (min-width: $desktop-width) {
  .booking {
    width: $desktop-width;
    margin: 0 auto;
  }

  .booking__btn {
    margin-top: 47px;
  }
}
