.btn {
  display: inline-block;
  padding: 14px 47px 17px;

  color: $text-light;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;

  background-color: $btn-main;

  &:hover,
  &:focus {
    background-color: $btn--hover;
  }

  &:active {
    color: $text-opacity;
    background-color: $btn--active;
  }

  &--disabled {
    background-color: $btn--disabled;
  }
}
