.btn {
  display: inline-block;
  padding-top: 14px;
  padding-right: 47px;
  padding-bottom: 17px;
  padding-left: 47px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: $text-light;

  background-color: $btn-main;
  border: none;

  &:hover,
  &:focus {
    background-color: $btn--hover;
  }

  &:active {
    color: $text-opacity;
    background-color: $btn--active;
  }

  &--disabled {
    background-color: $btn--disabled;
  }
}
