.container {
  min-width: 320px;
  overflow-x: hidden;
}

@media (min-width: $tablet-width) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1200px;
    margin: 0 auto;

    box-shadow: 0 5px 15px $main-shadow;
  }
}
