.copyright__link {
  display: flex;
  justify-content: center;
}

.copyright__text {
  margin-top: 2px;
  margin-right: 14px;

  line-height: 26px;
  color: $text-dark;
}

.copyright__image {
  fill: 000000;
}

.copyright__image:hover,
.copyright__image:focus {
  fill: #81b3d2;
}

.copyright__image:active {
  opacity: 0.3;
}
