.features {
  margin-bottom: 37px;

  background-color: $bg-basic;
}

.features__item {
  text-align: left;
  padding-top: 32px;
  padding-left: 70px;
}

.features__title {
  line-height: 26px;
}

.features__text {
  width: 220px;
  margin-top: 12px;


  color: $text-main;
  line-height: 21px;
}

@media (min-width: $tablet-width) {
  .features__item {
    min-height: 290px;
    padding: 0;
  }
}
