.form-section {
  box-sizing: border-box;
  width: 100%;
  padding-top: 22px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;

  &--contact {
    margin-top: 17px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  &--impress {
    padding-bottom: 9px;
  }

  &--sight {
    margin-top: 16px;
    padding-top: 17px;
    padding-bottom: 4px;
  }

  &--massege {
    padding-top: 20px;
  }
}

.form-section__legend {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;

  line-height: 26px;
  text-align: center;
}

.form-section__row {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
  margin-bottom: 20px;
}

.form-section__list {
  @include list-style;

  margin: 0;
  margin-bottom: 20px;
}

.form-section__label {
  min-width: 74px;
  margin-right: 14px;

  line-height: 26px;
  text-align: left;
  color: $text-main;

  &--name {
    min-width: 36px;
  }
}

.form-section__input-wrapper {
  position: relative;

  display: flex;
  flex-grow: 1;
  padding-right: 55px;

  &::after {
    content: "";

    right: 0;
    top: 50%;

    position: absolute;
    width: 58px;
    height: 58px;

    background-color: $bg-icon;
    background-position: center;
    background-repeat: no-repeat;

    transform: translateY(-50%);
  }
}

.form-section__input-wrapper--tel::after {
  background-image: url("../img/icon-phone.svg");
}

.form-section__input-wrapper--email::after {
  background-image: url("../img/icon-mail.svg");
}

.form-section__input,
.form-section__textarea {
  box-sizing: border-box;

  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $text-dark;
  text-transform: none;

  background-color: $bg-input;
  border: none;

  &:hover,
  &:focus {
    background-color: $bg-input--hover;

    outline: none;
  }

  &:active {
    background-color: $bg-input--active;
    border: 4px solid $border-input--active;
  }
}

.form-section__input::placeholder,
.form-section__textarea::placeholder {
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  color: $text-dark;
  text-transform: none;

  opacity: 1; //Неочевидно, но фиксит проблему в Firefox
}

.form-section__input {
  flex-grow: 1;

  box-sizing: border-box;
  width: 150px;
  min-height: 58px;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 16px;
  padding-left: 22px;

  &:active {
    padding-top: 11px;
    padding-right: 6px;
    padding-bottom: 12px;
    padding-left: 18px;
  }
}

.form-section__textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 160px;
  padding-top: 14px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 20px;

  &:active {
    padding-top: 10px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 16px;
  }
}

.review-form__input--error {
  border: solid 1px red;
}

.review-form__input--error[type="tel"],
.review-form__input--error[type="email"] {
  border-right: solid 4px red;
}

.form-section__option {
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 78px;
  margin-bottom: 13.5px;

  text-align: left;
}

.form-section__label--radio,
.form-section__label--check {
  position: relative;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $text-dark;
  text-transform: none;
}

.form-section__input + .form-section__label--radio::before,
.form-section__input + .form-section__label--check::before {
  content: "";

  z-index: 1;
  position: absolute;
  left: -80px;
  top: 50%;

  width: 56px;
  height: 56px;

  background-color: $bg-input;
  border-radius: 5px;

  transform: translateY(-50%);

  cursor: pointer;
}

.form-section__option:hover .form-section__input + .form-section__label--radio::before,
.form-section__option:hover .form-section__input + .form-section__label--check::before,
.form-section__input:focus + .form-section__label--radio::before,
.form-section__input:focus + .form-section__label--check::before {
  background-color: $bg-input--hover;
}

.form-section__option:active .form-section__input + .form-section__label--radio::before,
.form-section__option:active .form-section__input + .form-section__label--check::before {
  background-color: $bg-input--active;
}

.form-section__input + .form-section__label--radio::before {
  border-radius: 50%;
}

.form-section__input:checked + .form-section__label--radio::after {
  content: "";

  z-index: 2;
  position: absolute;
  top: 50%;
  left: -63px;

  width: 22px;
  height: 22px;

  background-color: $bg-icon--checked;
  border-radius: 50%;

  transform: translateY(-50%);
}

.form-section__input:checked + .form-section__label--check::after {
  content: "";

  z-index: 2;
  position: absolute;
  top: 50%;
  left: -61px;

  width: 16px;
  height: 9px;

  background-color: transparent;
  border-left: 4px solid $bg-icon--checked;
  border-bottom: 4px solid $bg-icon--checked;

  transform: translateY(-80%) rotate(-45deg);
}

.form-section__input:active + .form-section__label--radio::after,
.form-section__input:active + .form-section__label--check::after {
  opacity: 0.3;
}

.form-section--contact .form-section__label {
  margin-left: 22px;
  margin-bottom: 6px;
}

.form-section--contact .form-section__row {
  margin-bottom: 8px;
}

.form-section--sight .form-section__option {
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .form-section--impress {
    order: -1;
  }

  .form-section {
    box-sizing: border-box;
    width: 100%;
    padding-top: 58px;
    padding-right: 0;
    padding-bottom: 5px;
    padding-left: 0;

    border-top: 2px solid $bg-input;
    border-bottom: none;

    &--name {
      padding-left: 57px;
    }

    &--contact {
      padding-top: 22px;
    }

    &--sight {
      margin-top: 16px;
      padding-top: 42px;
    }

    &--massege {
      margin-top: 12px;
    }
  }

  .form-section--impress,
  .form-section--name {
    width: 50%;
    padding-bottom: 26px;

    border: none;
  }

  .form-section__list--line {
    position: relative;
  }

  .form-section__list--line::after {
    content: "";

    z-index: 2;
    position: absolute;
    top: -80px;
    right: 0;

    width: 1px;
    height: calc(100% + 75px);

    background-color: $gray;
  }

  .form-section__legend {
    margin: 0;

    font-size: 21px;
    text-align: left;
  }

  .form-section--contact .form-section__legend,
  .form-section--sight .form-section__legend,
  .form-section--massege .form-section__legend {
    width: 400px;
    margin: 0 auto;
    padding: 0 60px;

    text-align: center;
  }

  .form-section__option {
    padding-bottom: 23px;
    padding-left: 76px;

    text-align: left;
  }

  .form-section--contact .form-section__row {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-section__input-wrapper {
    min-width: 593px;
    margin-bottom: 11px;
  }

  .form-section--sight .form-section__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 99px;
  }

  .form-section--sight .form-section__option {
    width: 250px;
    margin-right: 9px;
  }

  .form-section__label--check {
    text-align: left;
  }

  .form-section__input + .form-section__label--radio::before {
    top: 56%;
    left: -76px;
  }

  .form-section__input + .form-section__label--check::before {
    top: 56%;
    left: -80px;
  }

  .form-section__input:checked + .form-section__label--radio::after {
    top: 56%;
    left: -59px;
  }

  .form-section__input:checked + .form-section__label--check::after {
    top: 57%;
    left: -61px;
  }
}

@media (min-width: $desktop-width) {
  .form-section {
    padding-top: 58px;
    padding-right: 0;
    padding-bottom: 5px;
    padding-left: 0;

    &--name {
      padding-left: 79px;
    }

    &--contact {
      padding-top: 75px;
      padding-left: 0;
      padding-bottom: 10px;
    }

    &--impress {
      padding-left: 2px;
    }

    &--sight {
      margin-top: 3px;
      padding-top: 42px;
    }

    &--massege {
      margin-top: 9px;
    }
  }

  .form-section--impress .form-section__legend {
    margin-left: 77px;
  }

  .form-section--impress,
  .form-section--name {
    padding-bottom: 24px;
  }

  .form-section--contact .form-section__list {
    display: flex;
    justify-content: space-between;
  }

  .form-section--contact .form-section__legend {
    margin-left: 278px;
  }

  .form-section--contact .form-section__row {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    width: 50%;
  }

  .form-section__input-wrapper {
    flex-grow: 0;
    flex-shrink: 0;
    min-width: 260px;
  }

  .form-section__input-wrapper--tel {
    margin-left: 10px;
  }

  .form-section__input-wrapper--email {
    margin-left: 18px;
  }

  .form-section--contact .form-section__label {
    margin-left: 0;
    margin-right: 0;
  }

  .form-section__additional-text {
    display: none;
  }

  .form-section--sight .form-section__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 2px;
  }

  .form-section--sight .form-section__option {
    width: auto;
    margin-right: 0;
    padding-left: 78px;
  }

  .form-section__label--check {
    margin-right: 3px;
    padding-left: 0;
  }
}
