.gallery__list {
  @include list-style;
}

.gallery__item {
  padding-top: 22px;
  padding-bottom: 0;

  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
}

@media (min-width: $tablet-width) {
  .gallery__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .gallery__list:first-child {
    flex-grow: 2;
  }

  .gallery__item {
    padding-top: 0;

    border: none;
  }
}

@media (min-width: $desktop-width) {
  .gallery__item {
    flex-grow: 1;
  }
}
