.intro__wrapper {
  margin: 0 auto;

  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");

  background-repeat: no-repeat;
  background-position: bottom, 50% bottom;
  background-size: 320px 26px, 780px 385px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
  }

  &--main {
    height: 389px;

    background-position: bottom, 50% top;
  }
}

.intro__img {
  width: 230px;
  height: 40px;
  margin-top: 51px;
}

.intro__wrapper--main .intro__img {
  width: 281px;
  height: 214px;
  margin-top: 91px;
}

.intro__title {
  padding: 0;
  margin: 0;
  margin-top: 41px;
}

.intro__text {
  width: 275px;
  padding: 0;
  margin: 0 auto;
  margin-top: 28px;

  line-height: 24px;

  &--main {
    width: 255px;
    margin-top: 40px;

    line-height: 26px;
  }
}

@media (min-width: $tablet-width) {
  .intro__wrapper {
    width: $tablet-width;
    height: 290px;
    margin: 0 auto;
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-size: 768px 57px, 768px 518px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
    }

    &--main {
      height: 518px;
    }
  }

  .intro__img {
    width: 460px;
    height: 80px;
    margin-top: 95px;
  }

  .intro__wrapper--main .intro__img {
    width: 460px;
    height: 350px;
    margin-top: 78px;
  }

  .intro__title {
    font-size: 30px;
    margin-top: 68px;
  }

  .intro__text {
    width: 439px;
    margin-top: 24px;

    &--main {
      width: 490px;
      margin-top: 50px;

      font-size: 21px;
    }
  }
}

@media (min-width: $desktop-width) {
  .intro__wrapper {
    width: $desktop-width;
    height: 301px;
    margin: 0 auto;
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-size: 1200px 57px, 1200px 518px;


    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
    }

    &--main {
      height: 518px;
    }
  }

  .intro__img {
    margin-top: 104px;
  }

  .intro__title {
    margin-top: 105px;
  }
}
