.main-nav {
  margin: 0;
  padding: 0;

  background-color: $bg-basic;
}

.main-nav__toggle {
  position: absolute;
  cursor: pointer;
}

.main-nav__list {
  @include list-style;

  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: $bg-link-main;
}

.main-nav__item {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  text-align: center;

  border-top: 1px solid $border-color;

  &:hover,
  &:focus {
    background-color: $bg-link-main--hover;
  }

  &:active {
    background-color: $bg-link-main--active;
  }
}

.main-nav__link {
  display: inline-block;
  min-height: 20px;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 27px;
  padding-right: 27px;

  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  color: $text-light;

  &:active {
    color: $text-opacity;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 768px;
  }

  .main-nav__list {
    flex-direction: row;
    justify-content: space-between;

    background-color: $white;
  }

  .main-nav__link {
    padding-top: 12px;
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 26px;
    color: $text-dark;
  }

  .main-nav__toggle {
    display: none;
  }
}


@media (min-width: $desktop-width) {
  .main-nav {
    width: 1200px;
  }
}
