.page-main {
  text-align: center;
}

.page-main__advantages {
  padding-top: 25px;
}

.page-main__booking {
  padding-top: 26px;
  padding-bottom: 50px;
}

.page-main__map {
  width: 100%;
  margin: 0 auto;
}

.page-main__gallery {
  margin-top: 29px;
}

.page-main__video {
  margin-top: 32px;
  margin-bottom: 136px;
}

.page-main__feedback {
  margin-top: 19px;
  margin-bottom: 71px;
}

@media (min-width: $tablet-width) {
  .page-main__advantages {
    padding-top: 29px;
  }

  .page-main__booking {
    padding-top: 55px;
    padding-bottom: 57px;
  }

  .page-main__map {
    margin-bottom: 11px;
  }

  .page-main__gallery {
    width: 648px;
    margin: 0 auto;
    margin-top: 69px;
  }

  .page-main__video {
    margin-top: 66px;
    margin-bottom: 52px;
  }

  .page-main__feedback {
    margin-top: 58px;
    margin-bottom: 75px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__booking {
    padding-top: 55px;
    padding-bottom: 63px;
  }

  .page-main__map {
    margin-bottom: 3px;
    // Возможно стоит увеличить на 1px
  }

  .page-main__gallery {
    width: 1200px;
    margin: 0 auto;
    margin-top: 71px;
  }

  .page-main__video {
    margin-top: 70px;
    margin-bottom: 88px;
  }

  .page-main__feedback {
    margin-top: 44px;
    margin-bottom: 70px;
  }
}
