.page-footer {
  margin: 0 auto;
  margin-top: 29px;
  padding-bottom: 31px;

  text-align: center;
}

.page-footer__tag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $text-dark;
}

.page-footer__social {
  min-width: 320px;
  margin: 0;
  margin-top: 37px;
  margin-left: 3px;
}

.page-footer__copyright {
  margin-top: 40px;

  line-height: 26px;
  color: $text-main;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 768px;
    margin-top: 0;
  }

  .page-footer__tag {
    margin-top: 29px;
    margin-left: 60px;
  }

  .page-footer__social {
    margin-top: 21px;
    margin-left: 31px;
  }

  .page-footer__copyright {
    margin-top: 29px;
    margin-left: 32px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 1200px;
  }

  .page-footer__tag {
    margin-top: 39px;
    margin-left: 119px;
  }

  .page-footer__social {
    margin-top: 30px;
    margin-left: 187px;
  }

  .page-footer__copyright {
    margin-top: 37px;
    margin-left: 190px;
  }
}
