.page-main {
  text-align: center;
}

.page-main__advantages {
  padding-top: 29px;
}

.page-main__booking {
  padding-top: 33px;
}

.page-main__map {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}
