.photos__link {
  min-height: 280px;
}

.photo__image {
  border: none;
}

.photo__info {
  width: 280px;
  margin: 0 auto;

  font-size: 14px;
  line-height: 24px;
  text-align: left;
}

.photo__title {
  margin: 0;
  margin-top: 14px;
  padding: 0;

  font-size: 14px;
  font-weight: 700;
  color: $text-dark;
}

.photo__autor {
  margin: 0;
  padding: 0;

  font-size: 14px;
  font-weight: 400;
  color: $text-main;
  text-transform: none;
}

.photo__like {
  margin-top: 7px;
  margin-left: 36px;
  margin-bottom: 18px;

  &::before {
    top: -1px;
    left: -36px;
  }
}

.photo__image {
  vertical-align: bottom;
}

@media (min-width: $tablet-width) {
  .photo {
    flex-shrink: 0;

    background-color: $bg-secondary;
  }

  .photo__image {
    width: 100%;
  }

  .photo__info {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-top: 1px;
    margin-left: 20px;
    margin-bottom: 3px;

    min-height: 76px;
  }

  .photo__description {
    width: 235px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }

  .photo__like {
    margin: 0;
    margin-top: 28px;
    margin-left: 15px;

    &::before {
      top: 0;
      left: -30px;
    }
  }

  .gallery__item:first-child .photo__like {
    margin-left: 340px;
  }
}

@media (min-width: $desktop-width) {
  .photo {
    position: relative;
  }

  .photo__info {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: -20px;

    width: 100%;

    background-color: rgba(0, 0, 0, 0.3);
  }

  .photo__description {
    width: 300px;
  }

  .photo__title,
  .photo__autor {
    margin-left: 22px;

    color: $text-light;
  }

  .photo__like {
    margin-left: 45px;
  }

  .gallery__item:first-child .photo__like {
    margin-left: 845px;
  }
}
