.photo__link {
  padding: 20px;
}

.photo__info {
  font-size: 14px;
  line-height: 24px;
  text-align: left;
}

.photo__title {
  font-weight: 700;
  color: $text-dark;
}

.photo__autor {
  font-weight: 400;
  color: $text-main;
  text-transform: none;
}

.photo__like {
  margin-top: 20px;
  margin-bottom: 22px;
}
