.photo__info {
  margin-left: 20px;

  font-size: 14px;
  line-height: 24px;
  text-align: left;
}

.photo__title {
  margin: 0;
  margin-top: 14px;
  padding: 0;

  font-size: 14px;
  font-weight: 700;
  color: $text-dark;
}

.photo__autor {
  margin: 0;
  padding: 0;

  font-weight: 400;
  color: $text-main;
  text-transform: none;
}

.photo__like {
  margin-top: 8px;
  margin-left: 28px;
  margin-bottom: 17px;

  &::before {
    top: -1px;
    left: -28px;
  }
}

.photo__image {
  vertical-align: bottom;
}

@media (min-width: $tablet-width) {
  .photo {
    flex-shrink: 0;

    background-color: $bg-secondary;
  }

  .photo__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;

    margin-top: 1px;
    margin-left: 20px;
    margin-bottom: 3px;

    height: 76px;
  }

  .photo__title,
  .photo__autor {
    width: 180px;
  }

  .photo__like {
    margin: 0;
    margin-top: 27px;
    margin-left: 62px;

    &::before {
      top: 0;
      left: -24px;
    }
  }

  .gallery__item:first-child .photo__like {
    margin-left: 387px;
  }
}

@media (min-width: $desktop-width) {
  .photo {
    position: relative;
  }

  .photo__image {
    width: 100%;
  }

  .photo__info {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: -20px;

    width: 100%;

    background-color: rgba(0, 0, 0, 0.3);
  }

  .photo__title,
  .photo__autor {
    margin-left: 22px;

    color: $text-light;
  }

  .photo__like {
    margin-left: 137px;
  }

  .gallery__item:first-child .photo__like {
    margin-left: 937px;
  }
}
