.player {
  position: relative;

  margin-top: 73px;
}

@media (min-width: $tablet-width) {
  .player__screen {

    width: 648px;
    margin: 0 auto;
  }

  .player__image {
    width: 100%;
  }

  .player__controls {
    position: absolute;
    bottom: 3px;
    left: 60px;

    width: 648px;
    min-height: 93px;

    background-color: rgba(0, 0, 0, 0.6);
  }

  .player__scroll {
    position: relative;
  }

  .player__bar {
    position: relative;

    width: 389px;
    height: 3px;
    margin-top: 45px;
    margin-left: 93px;

    background-color: rgba(255, 255, 255, 0.2);
  }

  .player__bar-slider {
    position: absolute;
    top: -3px;
    left: 113px;

    width: 9px;
    height: 9px;

    background-color: $bg-basic;
    border-radius: 50%;
  }

  .player__btn {
    position: absolute;

    background-color: transparent;

    border: none;

    &--replay {
      top: -10px;
      left: 27px;
    }

    &--subtitles {
      top: -9px;
      right: 84px;
    }

    &--fullscreen {
      top: -9px;
      right: 33px;
    }
  }
}

@media (min-width: $desktop-width) {
  .player__screen {
    width: 800px;
    height: 500px;
    margin: 0 auto;
  }

  .player__controls {
    position: absolute;
    bottom: 1px;
    left: 200px;

    width: 800px;
    min-height: 93px;

    background-color: rgba(0, 0, 0, 0.6);
  }

  .player__bar {
    width: 540px;
  }

  .player__bar-slider {
    top: -3px;
    left: 113px;
  }

  .player__btn {
    &--subtitles {
      top: -9px;
      right: 86px;
    }

    &--fullscreen {
      top: -9px;
      right: 35px;
    }
  }
}
