.social {
  @include list-style;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social__item {
  width: 46px;
  height: 48px;

  margin: 0;
  margin-right: 6px;
  padding: 0;

  background-color: $blue;
}

.social__link {
  z-index: 1;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 46px;
  height: 48px;
}

.social__link:hover,
.social__link:focus {
  background-color: $social-icon--hover;
}

.social__link:active {
  background-color: $social-icon--active;
}

.social__link:active .social__img {
  opacity: 0.3;
}
