.video__title {
  margin-bottom: 28px;

  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: $text-dark;
}

.video__text {
  line-height: 24px;
}

.video__promo {
  width: 240px;
  margin: 0 auto;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .video__title {
    margin-bottom: 31px;

    font-size: 30px;
  }

  .video__text {
    line-height: 24px;
  }

  .video__promo {
    width: 415px;
    margin-bottom: 73px;
  }
}
