body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  font-family: $ptsans, "Arial", sans-serif;
  color: $text-main;
  text-transform: uppercase;

  background-color: $bg-basic;
}

a {
  text-decoration: none;
}


img {
  max-width: 100%;
  height: auto;
}
