// Навигация

//Размер вьюпорта
//Ретина
//Шрифты
//Основные цвета
//Цвет фона
//Цвет границ
//Цвет текста
//Цвет ссылок
// Цвет фона ссылок
// Цвет фона кнопок
// Цвет полей формы
// Тени

//Размер вьюпорта
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;

// Ретина
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//Шрифты
$ptsans: "PT Sans", "Arial", sans-serif;

//Основные цвета
$white: hsl(0, 0%, 100%);
$blue: hsl(203, 47%, 66%);
$blue--hover: hsl(203, 42%, 58%);
$blue--active: hsl(202, 44%, 54%);
$blue-dark-opacity: hsla(219, 28%, 22%, 0.75);
$gray: hsl(0, 0%, 95%);
$gray-light: hsl(0, 0%, 90%);
$gray-opacity: hsla(180, 100%, 0%, 0.2);
$black: hsl(0, 0%, 0%);
$black-opacity: hsla(0, 0%, 0%, 0.3);

//Цвет фона
$bg-basic: $white;
$bg-main: $blue;
$bg-secondary: $gray;
$bg-features: hsl(0, 0%, 93%);
$bg-map: hsl(40, 20%, 94%);
$bg-intro: hsl(203, 53%, 92%);

//Цвет границ
$border-dark: hsl(203, 27%, 53%);
$border-light: hsl(203, 47%, 73%);

//Цвет текста
$text-main: hsl(0, 0%, 20%);
$text-light: $white;
$text-dark: $black;
$text-opacity: hsla(0, 0%, 100%, 0.3);

//Цвет ссылок

$link-main: $white;
$link-dark: $black;
$link-dark--hover: hsl(203, 47%, 66%);
$link-dark--active: hsla(0, 0%, 0%, 0.3);
$active-link-dark: hsl(23, 15%, 40%);
$active-link-dark--hover: hsl(23, 18%, 32%);
$active-link-dark--active: hsla(23, 15%, 40%, 0.3);

// Цвет фона и границ ссылок

$bg-link-main: $blue;
$bg-link-main--hover: $blue--hover;
$bg-link-main--active: $blue--active;

// Цвет фона кнопок

$btn-main: $blue;
$btn--hover: $blue--hover;
$btn--active: $blue--active;
$btn--disabled: $gray-light;

// Цвет полей формы
$bg-input: $gray;
$bg-input--hover: $gray-light;
$bg-input--active: $white;
$border-input--active: $gray-light;
$bg-icon: $gray-light;
$bg-icon--checked: $black;

//Тени
$main-shadow: $gray-opacity;
$nav-shadow: $black-opacity;
$modal-shadow: $blue-dark-opacity;

//Иконки
$copyright-icon: $black;
$copyright-icon--hover: $blue;
$social-icon--hover: $blue--hover;
$social-icon--active: $blue--active;
