//Шрифты
$ptsans: "PT Sans", "Arial", sans-serif;

//Цвет текста
$text-main: hsl(0, 0%, 20%);
$text-light: hsl(0, 0%, 100%);
$text-dark: hsl(0, 0%, 0%);

//Цвет фона
$bg-main: hsl(203, 47%, 66%);
$bg-secondary: hsl(0, 0%, 95%);
$bg-banner: hsl(12, 13%, 47%);
$bg-features: hsl(0, 0%, 93%);
$bg-map: hsl(40, 20%, 94%);
